<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="ROLE_USER" />
<!-- 		<intercept-url pattern="/productbacklog/**/**" access="ROLE_OWNER" /> -->
<!-- 		<intercept-url pattern="/userstory/" access="ROLE_MASTER , ROLE_OWNER" /> -->
		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login 
		    login-page="/login" 
		    default-target-url="/productbacklog/" 
		    always-use-default-target="true"
			authentication-failure-url="/loginfailed" 
			/>
		<logout logout-success-url="/logout"  />
		<!-- enable csrf protection -->
		<csrf/>
		
		<access-denied-handler error-page="/403" />
		<logout logout-success-url="/logout" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="parag" password="123456" authorities="ROLE_USER" />
				<user name="powner" password="123456" authorities="ROLE_OWNER" />
				<user name="smaster" password="123456" authorities="ROLE_MASTER" />
				
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>
